<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta name="_csrf" th:content="${_csrf.token}" content=""/>
  <!-- default header name is X-CSRF-TOKEN -->
  <meta name="_csrf_header" th:content="${_csrf.headerName}" content=""/>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="0.0.1"/>
  <meta name="author" content="hongyu"/>
  <link rel="icon" href="/favicon.ico"/>
  <title>网络流量分析平台</title>
  <!-- Bootstrap -->
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="//cdn.bootcss.com/respoadmin/nd.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" media="screen" href="../css/ntap.css"/>
  <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <!--nav start-->
  <div class="row">
    <div class="col-xs-12">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">网络流量分析平台 | 统计分析中心</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/pass/signInSuccess">主页 <span class="sr-only">(current)</span></a></li>
              <li class="active"><a href="/analysis">统计分析中心 <span class="sr-only">(current)</span></a></li>
              <li><a href="/emergency-response-center-home">突发事件中心 <span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#" data-toggle="modal" data-target="#updateBasic-modal"><span
                      class="glyphicon glyphicon-user" aria-hidden="true"></span> <span
                      th:text="${session.user.nickName}"> 测试用户</span></a></li>
              <li><a href="/pass/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> 注销</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <!--nav end-->

  <!--msg start-->
  <div class="row">
    <div class="col-xs-12">
      <div th:if="${msg}">
        <div class="alert alert-danger alert-dismissible" role="alert" th:if="${msg.status eq 'failure'}">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <span th:text="${msg.content}">测试输出，返回失败消息</span>
        </div>
        <div class="alert alert-success alert-dismissible" role="alert" th:if="${msg.status eq 'success'}">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <span th:text="${msg.content}">测试输出，返回成功消息</span>
        </div>
      </div>
    </div>
  </div>
  <!--msg end-->

  <!--dashboard list start-->
  <div class="row">
    <div class="col-xs-12 ">
      <div id="user-detail-card" class="card">
        <span>
          <span style="font-size: 12px;">仪表盘</span>
          <span sec:authorize="hasRole('ROLE_ADVANCED')" style="float:right;font-size: 12px;"><a data-toggle="modal"
                                                                                                 data-target="#dashboard-add-modal">添加仪表盘</a></span>
          <span sec:authorize="hasRole('ROLE_ADMIN')" style="float:right;font-size: 12px;"><a data-toggle="modal"
                                                                                              data-target="#dashboard-add-modal">添加仪表盘</a></span>
          <hr style="margin-top:5px"/>
        </span>
        <table class="table table-condensed table-bordered table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>标题</th>
            <th>来源</th>
            <th>操作</th>
            <th>提交日期</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="dashboard,dashboardStat : ${dashboards}">
            <td th:text="${dashboard.id}"></td>
            <td><a th:onclick="'javascript:dashboardDetail('+${dashboard.id}+');'"><span
                    th:text="${dashboard.title}"></span></a></td>
            <td th:text="${dashboard.from}"></td>

            <td sec:authorize="hasRole('ROLE_ADMIN')">
              <a class="label label-danger " th:href="@{/analysis/delete/{id}(id=${dashboard.id})}">删&nbsp;&nbsp;&nbsp;&nbsp;除</a>
            </td>

            <td sec:authorize="hasRole('ROLE_ADVANCED')" th:if="${session.user.nickName == dashboard.from}">
              <a class="label label-danger " th:href="@{/analysis/delete/{id}(id=${dashboard.id})}">删&nbsp;&nbsp;&nbsp;&nbsp;除</a>
            </td>
            <td sec:authorize="hasRole('ROLE_ELEMENTARY')" th:if="${session.user.nickName != dashboard.from}">
              <a class="label label-default " href="#">不可操作</a>
            </td>
            <td sec:authorize="hasRole('ROLE_ADVANCED')" th:if="${session.user.nickName != dashboard.from}">
              <a class="label label-default " href="#">不可操作</a>
            </td>
            <td th:text="${#dates.format(dashboard.addTime, 'yyyy-MM-dd hh:mm')}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--dashboard list start-->
</div>

<!--dashboard modals-->
<div th:each="dashboard,dashboardStat : ${dashboards}">
  <div class="modal fade" th:id="dashboard+(${dashboard.id})" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title">
            #<span th:text="${dashboard.id}"></span>
          </h4>
        </div>
        <div class="modal-body">
          <div class="panel-body">
            <div class="row" style="margin-bottom: 10px">
          <span class="col-xs-12">
            <span class=" "><b>标题：</b></span>
            <br/>
            <span th:text="${dashboard.title}"></span>
          </span>
            </div>
            <div class="row" style="margin-bottom: 10px">
          <span class="col-xs-12">
            <span class=" "><b>详情：</b></span>
            <br/>
            <span th:text="${dashboard.content}"></span>
          </span>
            </div>
            <div class="row" style="margin-bottom: 10px">
          <span class="col-xs-12">
            <span class=" "><b>链接：</b></span>
            <br/>
            <span class=""><a th:href="@{/analysis/detail/{id}(id=${dashboard.id})}">仪表盘详情</a></span>
          </span>
            </div>
            <div class="row" style="margin-bottom: 10px">
          <span class="col-xs-6">
            <span class=" "><b>来源：</b></span>
            <br/>
            <span th:text="${dashboard.from}"></span>
          </span>
              <span class="col-xs-6">
            <span class=" "><b>提交日期：</b></span>
            <br/>
            <span th:text="${#dates.format(dashboard.addTime, 'yyyy-MM-dd hh:mm')}"></span>
          </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>
</div>

<!-- 修改个人信息 模态框（Modal） -->
<div class="modal fade" id="updateBasic-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title">
          修改个人信息
        </h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active updateBasic"><a href="#" onclick="showBasicForm()">更新基本信息</a></li>
            <li role="presentation" class="updatePass"><a href="#" onclick="showPasswordForm()">更新密码</a></li>
          </ul>
          <br/>
          <form th:action="@{/updateBasic}" method="post" id="studentUpdateBasicForm">
            <fieldset>
              <div hidden="true" class="form-group">
                <input class="form-control" name="id" th:value="${session.user.id}" value="" type="text"/>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="电子邮箱" name="email" type="text" value=""
                       th:value="${session.user.email}"/>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="姓名" name="nickName" type="text" value=""
                       th:value="${session.user.nickName}"/>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="手机号" name="phoneNumber" type="text" value=""
                       th:value="${session.user.phoneNumber}"/>
              </div>

              <div class="form-group">
                <input class="btn btn-lg btn-primary d btn-block" type="submit" value="更新基本信息"/>
              </div>
            </fieldset>
          </form>
          <form hidden="true" th:action="@{/updatePassword}" method="post" id="studentUpdatePasswordForm">
            <fieldset>
              <div hidden="true" class="form-group">
                <input class="form-control" name="id" th:value="${session.user.id}" value="" type="text"/>
              </div>
              <div hidden="true" class="form-group">
                <input class="form-control" name="hiddenEmail" th:value="${session.user.email}" value="" type="text"/>
              </div>
              <div hidden="true" class="form-group">
                <input class="form-control" name="hiddenPhoneNumber" th:value="${session.user.phoneNumber}" value=""
                       type="text"/>
              </div>
              <div hidden="true" class="form-group">
                <input class="form-control" name="hiddenNickName" th:value="${session.user.nickName}" value=""
                       type="text"/>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="旧密码" name="oldPassword" type="password" value=""/>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="密码" name="password" type="password" value=""/>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="重复密码" name="passwordCheck" type="password" value=""/>
              </div>
              <div class="form-group">
                <input class="btn btn-lg btn-primary d btn-block" type="submit" value="更新密码"/>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
        </button>
      </div>
    </div>
  </div>
</div>

<!--  新建仪表盘 模态框（Modal） -->
<div class="modal fade" id="dashboard-add-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title">
          新建仪表盘
        </h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <form th:action="@{/analysis/add}" method="post" id="">
            <fieldset>
              <div hidden="true" class="form-group">
                <input class="form-control" name="from" th:value="${session.user.id}" value="" type="text"/>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="链接" name="link" type="text" value=""/>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="标题" name="title" type="text" value=""/>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="内容" name="content" type="text" value=""/>
              </div>
              <div class="form-group">
                <input class="btn btn-lg btn-primary d btn-block" type="submit" value="新建仪表盘"/>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>

<footer>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  <script src="/webjars/bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
  <!--本地js-->
  <script src="../../js/ntap.js"></script>
</footer>

<script type="text/javascript">
    function dashboardDetail(id) {
        $('#dashboard' + id).modal()
    }
</script>
</body>
</html>