<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="description" content="1.0.0-SNAPSHOT"/>
  <meta name="author" content="hongyu"/>
  <link rel="icon" href="/favicon.ico"/>
  <title>网络流量分析平台</title>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet"/>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<h1 style="text-align: center" th:text="${#httpServletRequest.getAttribute('javax.servlet.error.status_code')}">404</h1>
<p style="text-align: center">Oops~ There are some problems with your visit to the page</p>
<p style="text-align: center"><a href="/" th:href="@{/}">Back to Home Page</a></p>
<div hidden="true">
  <br/>
  <p style="text-align: center">
    Message : <span th:text="${#httpServletRequest.getAttribute('javax.servlet.error.message')}"></span>
  </p>
  <p style="text-align: center">
    Code : <span th:text="${#httpServletRequest.getAttribute('javax.servlet.error.status_code')}"></span>
  </p>
</div>
<hr/>
<p style="text-align: center">
  Network traffic analysis platform 1.0.0-SNAPSHOT
</p>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>